
planning/*

src/*.o
loopp

*.zip
*.orig

build/*
buildTest/*
/CMakeCache.txt
/cmake_install.cmake
/doc
/Makefile
/src/cmake_install.cmake
/src/liblibloopp.a
/src/Makefile
CMakeFiles/*
src/CMakeFiles/*
/src/version.hxx
