[Desktop Entry]
Name=Loopp
GenericName=Live performance mixing tool
GenericName[fr]=Outil de mixage pour performance live
Comment=Create music by recording, playing, and mixing samples
Comment[fr]=Créer de la musique en enregistrant, jouant, et mixant des échantillons
Type=Application
Categories=Audio;AudioVideo;
Exec=loopp
Terminal=false
StartupNotify=true
Icon=loopp
X-NSM-capable=true
